/* TODO: make it a module or whatever */

.main-button {
    width: 300px;
    padding: 10px;
    margin: 5px 0;
}

.main-full {
    padding-top: 100px;
    max-width: 300px;
}

.full {
    display: flex;
    justify-content: center;
}

.paragraph-container {
    word-wrap: break-word;
    padding-top: 0.5rem;
    max-width: 20rem;
}

.header-container {
    display: flex;
    min-width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:  #1a1a1a;
}

.header-container li {
    padding: 1rem;
}

.header-container li:hover {
    background-color: #383838;
}